{% extends 'base.html.twig' %}

{% block title %}TIRO CON ARCO{% endblock %}
{% extends 'base.html.twig' %}
    {% block navbar %}
        {% include 'navbar/public.html.twig' %}
    {% endblock %}
{% extends 'base.html.twig' %}


{% block body %}
    <div class="container-fluid alert alert-dark alert-dismissible fade showpt-0 pb-2" role="alert" >
        <div class="row">
            <div class="col-10 mx-auto">
                <h2 class="alert-heading display-2">ARCOS</h2>
                <hr>
                <p class="mb-0 lead">Servicio gratuito cuya finalidad es facilitar el conocimiento acerca de los distintos tipos de arcos que hay</p>
            </div>
        </div>
        <button type="button" class="close" data-dismiss="alert" arialabel="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-10 mx-auto">
                <h6 class="lead">A continuación ofrecemos los distintos tipos de arcos que tenemos</h6>
            </div>
        </div>
        <div class="row bg-white">
            <div class="col-8 mx-auto ">
                {% for arco in arcos %}
                    <div class="media py-2">
                        <!--<img class="my-auto card-img" style="width:60px" src="{{ offer.Employeer.getVLogo() }}" alt="logo empresa">-->
                        <div class="media-body">
                            <div class="mx-4 d-flex justify-content-between ">
                                <h4 class="p-0"> {{arco.getTipo()) }}: {{ arco.getMarca() }}</h4>
                                <a href="{{ path('arcos_show', {'id':arco.getId()}) }}" class="btn btn-outline-primary">More details...</a>
                            </div>
                            <div class="px-2">
                                <p class="card-body text-muted mb-0"> {{arco.getRelCompe() }} </p>
                            </div>
                        </div>
                    </div>
                    <hr/>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}